
{% extends 'base.html' %}

{% block title %}Sobre Nós | Escola de Música{% endblock %}

{% block content %}
<h1>Sobre Nós</h1>


<section class="sobre-nos container mt-5">
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <h4>Quem Somos</h4>
        <p>A Escola de Música Mente Inteligente nasceu com a missão de transformar vidas através da música, oferecendo aulas acessíveis e de qualidade.</p>
      </div>
  
      <div class="col-md-6 mb-3">
        <h4>Nossa Missão</h4>
        <p>Ensinar com paixão, despertando o potencial musical de cada aluno, independentemente da idade ou experiência.</p>
      </div>
  
      <div class="col-md-6 mb-3">
        <h4>Valores</h4>
        <p>Respeito, dedicação, criatividade e amor pela arte. Acreditamos que a música pode desenvolver o raciocínio, a disciplina e a empatia.</p>
      </div>
  
      <div class="col-md-6 mb-3">
        <h4>O que oferecemos</h4>
        <p>Aulas práticas e teóricas de teclado, violão e bateria para iniciantes, com acompanhamento personalizado de nossos professores.</p>
      </div>
  
      <div class="col-md-6 mb-3">
        <h4>Nosso diferencial</h4>
        <p>Ambiente acolhedor, metodologia moderna e foco no aprendizado lúdico e efetivo.</p>
      </div>
  
      <div class="col-md-6 mb-3">
        <h4>Quem está à frente</h4>
        <p>Liderada pelo Professor Ev. Edimar, músico experiente e dedicado à formação de novos talentos na comunidade.</p>
      </div>
  
      <div class="col-12 mb-3">
        <h4>Localização</h4>
        <p>Rua Nossa Senhora dos Navegantes, 545 - Cidade de Deus</p>
      </div>
    </div>
  </section>
  
{% endblock %}

